<%- include('./partials/header') %>

<div class="container-fluid">
	<div class="row">
		<h3>Your account</h3>
		<hr>
		<h4>Orders</h4>

		<div class="col-xs-12 col-md-8">
			<% order.products.forEach(function(p){ %>
			<div class="row">
				<img src="<%= p.product.img %>">
			</div>
			<% }) %>
		</div>
	</div>
</div>



<%- include('./partials/footer') %>